{% include "admin-head.html" %}
<section id="hero" style="height: 25vh">
    <div>
        <h3>View Orders</h3>
    </div>
</section>

{% for order in orders %}
<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Order Id : <span class="order-head">#{{getUpperIdFromOrderId(order['_id'])}}</span></td>
                <td>Ordered : <span class="order-head">{{order['order_date']}}</span></td>
                {%if order['delivery_type'] == 'Delivery'%}
                <td>Receive Method: <span class="order-head">{{order['delivery_type']}}</span></td>
                {%else%}
                <td>
                    Pickup Location:
                    <span class="order-head"
                        ><i class="fas fa-map-marker-alt"></i>{{getStoreNameById(order['pickup_location'])}}</span
                    >
                </td>
                {%endif%}
                <td>Total : <span class="order-head">{{order['amount']}}</span></td>
                <td>Status: <span class="order-head">{{order['status']}}</span></td>
                <td>
                    Action: {% if order['delivery_type'] == "Delivery" %} {%if order['status'] == 'pending':%}
                    <div>
                        <div class="form accept-reject">
                            <div class="input-section" style="border: 1px solid red">
                                <a href="/admin-order?order_id={{order['_id']}}&action=rejected">
                                    <button class="normal">Reject</button>
                                </a>
                            </div>
                            <div class="input-section" style="border: 1px solid darkgreen">
                                <a href="/admin-order?order_id={{order['_id']}}&action=accepted">
                                    <button style="padding: 5px 20px" class="normal">Accept</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%elif order['status'] == 'rejected'%}
                    <div>
                        <div class="form">
                            <div class="input-section" style="border: 1px solid darkgreen">
                                <a href="/admin-order?order_id={{order['_id']}}&action=process_refund">
                                    <button style="padding: 5px 20px" class="normal">Process Refund</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%elif order['refund_status'] == 'refund_processed'%} Refund Status:
                    <span class="order-head">{{order['refund_status']}}</span>
                    {%elif order['status'] == 'accepted'%}
                    <div>
                        <div class="form">
                            <div class="input-section" style="border: 1px solid darkgreen">
                                <a href="/admin-order?order_id={{order['_id']}}&action=prepared">
                                    <button style="padding: 5px 20px" class="normal">Order Prepared</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%elif order['status'] == 'prepared'%}
                    <form action="admin-order" class="form">
                        <input type="hidden" name="order_id" value="{{order['_id']}}" />
                        <input type="hidden" name="action" value="assigned" />
                        <div class="input-section" style="border: 1px solid darkgreen">
                            <select name="delivery_id" required>
                                <option value="">Assign to Delivery</option>
                                {%for agent in agents:%}
                                <option value="{{agent['_id']}}">{{agent['name']}}</option>
                                {%endfor%}
                            </select>
                            <button style="padding: 5px 20px" class="normal">Assign</button>
                        </div>
                    </form>
                    {%endif%} {%elif order['delivery_type'] == 'Pickup'%} {%if order['status'] == 'pending' %}
                    <div>
                        <div class="form accept-reject">
                            <div class="input-section" style="border: 1px solid red">
                                <a href="/admin-order?order_id={{order['_id']}}&action=rejected">
                                    <button style="padding: 5px 20px" class="normal">Reject</button>
                                </a>
                            </div>
                            <div class="input-section" style="border: 1px solid darkgreen">
                                <a href="/admin-order?order_id={{order['_id']}}&action=accepted">
                                    <button style="padding: 5px 20px" class="normal">Accept</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%elif order['status'] == 'rejected'%}
                    <div>
                        <div class="form">
                            <div class="input-section" style="border: 1px solid darkgreen">
                                <a href="/admin-order?order_id={{order['_id']}}&action=process_refund">
                                    <button style="padding: 5px 20px" class="normal">Process Refund</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%elif order['refund_status'] == 'refund processed'%} Refund Status:
                    <span class="order-head">{{order['refund_status']}}</span>
                    {%elif order['status'] == 'accepted'%}
                    <div>
                        <div class="form">
                            <div class="input-section" style="border: 1px solid darkgreen">
                                <a href="/admin-order?order_id={{order['_id']}}&action=prepared">
                                    <button style="padding: 5px 20px" class="normal">Order Prepared</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%elif order['status'] == 'prepared'%}
                    <div>
                        <div class="form">
                            <div class="input-section" style="border: 1px solid darkgreen">
                                <a href="/admin-order?order_id={{order['_id']}}&action=picked">
                                    <button style="padding: 5px 20px" class="normal">Mark as Customer picked</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endif%} {%endif%}
                </td>
            </tr>
        </thead>

        <tbody>
            <tr style="display: none">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table width="100%">
        <thead>
            <tr>
                <td>Item</td>
                <td>Product</td>
                <td>Item</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        {% set items = order.get('items',[]) %}
        <tbody>
            {%for item in items:%} {% set productInfo = item %} {% set product_id = productInfo['product_id'] %} {% set
            product = get_product_by_product_id(product_id) %} {%if product:%}
            <tr>
                <td>{{loop.index}}</td>
                <td><img src="../static/img/{{product['picture']}}" alt="" /></td>
                <td>{{product['name']}}</td>
                <td>${{product['price']}}</td>
                <td>{{productInfo['quantity']}}</td>
                <td>${{product['price'] | int * productInfo['quantity'] | int}}</td>
            </tr>
            {%endif%} {%endfor%}
        </tbody>
    </table>
</section>
{%endfor%} {% include "footer.html" %}
