{% include "header.html" %}

<section id="hero" style="height: 90vh">
    <div>
        <h3>Admin Login</h3>
    </div>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Xpress Admin</h4>
            <p>Get into the world of <span>Xpress delivery Management</span></p>
        </div>
        <form class="form" action="login-verify" method="POST">
            <input type="hidden" name="role" value="Admin" />
            <div class="input-section">
                <label for="email">Username</label>
                <input type="text" name="email" placeholder="Enter Username" value="{{ username | default('')}}" />
            </div>
            <div class="input-section">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password" />
            </div>
            <button type="submit" class="normal">Login</button>
        </form>
    </section>
</section>

{% include "footer.html" %}
