{%if 'role' in session and session['role'] == 'Customer'%} {% include "customer-head.html" %} {%elif 'role' in session
and session['role'] == 'Delivery'%} {% include "delivery-head.html" %} {%endif%} {%if message%} {% include "toast.html"
%} {%endif%}
<section id="hero" style="height: 80vh">
    <div>
        <h3>Change Password</h3>
    </div>
    <section id="newsletter" class="section-p1 section-m1" style="justify-content: center; width: 80%">
        <form class="form" action="/set-new-password" method="POST">
            <div class="input-section">
                <label for="old_password">Old Password</label>
                <input type="password" name="old_password" placeholder="Old Password" />
            </div>
            <div class="input-section">
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" placeholder="New Password" />
            </div>
            <div class="input-section">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" placeholder="Confirm Password" />
            </div>
            <button type="submit" class="normal">Change Password</button>
        </form>
    </section>
</section>

{% include "footer.html" %}
