<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CityXpressMart</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <section id="header">
            <div id="logo">
                <div id="logo-text">CityXpressMart</div>
                <img src="../static/img/delivery.png" class="logo" alt="" />
            </div>

            <div>
                <ul id="navbar">
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/delivery-orders?status=assigned">New Orders</a></li>
                    <li><a href="/delivery-orders?status=out for delivery">Out for delivery</a></li>
                    <li><a href="/delivery-orders?status=delivered">Delivered</a></li>
                    <li><a href="/change-password">Change Password</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </section>
    </body>
</html>
