{% include "admin-head.html" %}

<section id="hero" style="height: 40vh">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button>Shop Now</button>
</section>

<section id="banner3">
    <div class="banner-box">
        <h2>STORE 1</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>STORE 2</h2>
        <h3>Spring / Summer 2022</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>STORE</h2>
        <h3>New Trendy Prints</h3>
    </div>
</section>

{% include "footer.html" %}
